<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tasks">
    <%= render @tasks %>
  </tbody>
</table>

<br>

<%= turbo_frame_tag "new_task", src: new_task_path, target: "_top" %>
